
@{
    ViewData["Title"] = "Job Post";
}

<h1>Job Post</h1>

<section>
    <header>
        <h2>Sample Job Post</h2>
        <input type="button" hidden id="saveForOffline" value="Save for Offline"/>
    </header>
</section>
<section>
    <h3>Job Description</h3>
    <p>
        lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
    </p>
    <p> 
        lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
    </p>
</section>

