
@{
    ViewData["Title"] = "Job Post";
}

<h1>Job Post Page for Testing purposes</h1>

<section>
    <header>
        <h2>Sample Job Post</h2>
        <input type="button" hidden id="saveForOffline" value="Save for Offline" />
        <input type="button" hidden id="copyToClipboard" value="Copy Link to Clipboard" />
    </header>
</section>
<section>
    <h3>Job Description</h3>
    <p>
        lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
    </p>
    <p> 
        lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
    </p>
</section>
<dialog id="clipboardPerms">
    <h2>We would like to write to your clipboard</h2>
    <p>This is us asking to write to the clipboard</p>
</dialog>

