@model JobSearchApp.Models.SavedSearch

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SavedSearch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SavedSearchID" />
            <div class="form-group">
                <label asp-for="CandidateID" class="control-label"></label>
                <input asp-for="CandidateID" class="form-control" />
                <span asp-validation-for="CandidateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployerID" class="control-label"></label>
                <input asp-for="EmployerID" class="form-control" />
                <span asp-validation-for="EmployerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchedTerm" class="control-label"></label>
                <input asp-for="SearchedTerm" class="form-control" />
                <span asp-validation-for="SearchedTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

